<div>
    <h1>Hier kommen die Dokumente rein(es ist jeweils die Referenz auf die aktuellste Version zu sehen).</h1>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createDocumentModal">
        Neues Dokument anlegen
    </button>
    <div class="modal fade" id="createDocumentModal" role="dialog" aria-labelledby="documentLabel" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="documentForm" novalidate ng-submit="createNewDocument()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name des Dokumentes</label>
                            <input type="text" ng-model="document.name">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                        <button type="submit" class="btn btn-default">save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Dokumentenname</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in documents">
                    <td>
                        <a ui-sref="documentDetails({id:doc.id})">{{doc.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="documentDetails({id:doc.id})">{{doc.name}}</a>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-default" ng-click="delete(doc.id)">löschen</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
