<div>
    <!--here is the main-state-dependend showing/hiding configured-->
    <h2 ng-show="isCreateMode">Neues Dokument anlegen(nur Metadaten).</h2>
    <button ng-show="isCreateMode" ui-sref="documents" class="btn btn-default">zurück</button>
    <button ng-show="isCreateMode" class="btn btn-default" ng-click="createNewDocument()">neues Dokument anlegen</button>

    <h2 ng-show="isUpdateMode">Details für Dokument: {{document.document_id}}</h2>
    <button ng-show="isUpdateMode" ui-sref="documents" class="btn btn-default">zurück</button>
    <button ng-show="isUpdateMode" class="btn btn-default" ng-click="updateDocument()">update</button>

    <h2 ng-show="isVersionHistoryMode">Dokumentenversion(nur ansehbar) für: {{document.primary_document_id.id}} </h2>
    <button ng-show="isVersionHistoryMode" ui-sref="documents" class="btn btn-default">zurück zur Dokumentenliste</button>
    <!--end main-state-dependend config-->
    <!--some more config needed below-->

    <form name="documentDetailForm" role="form" novalidate>
        <hr size="10">
        <label>ID(Pflichtfeld): </label>
        <input type="text" ng-model="document.primary_document_id.id">
        <br>
        <label>Domäne der Dokumentenid: </label>
        <input type="text" ng-model="document.primary_document_id.domain.id">

        <div style="background-color: lightgrey">
            <label>externe Objekte: </label></br>
            <div class="row" ng-repeat="eor in external_object_references">
                <label >
                    <input type="checkbox" checklist-model="document.external_object_references" checklist-value="eor">
                    {{eor.id}}
                </label>
            </div>
        </div>
        <div ng-hide="isCreateMode">
            <label>Speicherzeitpunkt:</label>
            {{document.created_at | date:'HH:mm:ss || dd.MM.yyyy'}}</div>
        <div ng-hide="isCreateMode || isVersionHistoryMode" style="background-color: lightgrey">
            <label>Datei hochladen:</label>
            <input type="file" file-model="document.file"/>
        </div>
        <div ng-hide="isCreateMode">
            <label>aktuellste Datei:</label>
            <a ng-href="api/documents/download/{{document.path_to_file}}">{{document.path_to_file}}</a>
        </div>
        <br>
        <br>
        <div ng-hide="isCreateMode">
            <label>Beziehungen dieses Dokumentes zu anderen Dokumenten:</label>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Beziehungstyp</th>
                    <th>referenziertes Dokument</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rel in document.document_relationships">
                    <td>{{rel.relation_type}}</td>
                    <td>{{rel.relating_document.primary_document_id.id}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="isCreateMode">
            <label>Beschreibungen: </label>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Beschreibung</th>
                    <th>Typ</th>
                    <th>Sprache</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="descr in document.descriptions">
                    <td>{{descr.textual_description}}</td>
                    <td>{{descr.type_of}}</td>
                    <td>{{descr.language_code}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="isCreateMode || isVersionHistoryMode" style="background-color: lightgrey">
            <label>Neue Sprache zum Dokument hinzufügen(keine Duplikate): </label>
            <input type="text" ng-model="tmpLanguage">
            <button type="button" class="btn btn-default" ng-click="addLanguage()">hinzufügen</button>
        </div>
        <div ng-hide="isVersionHistoryMode || isCreateMode">
            <label>Sprachen:</label>
            <div ng-repeat="lang in document.language">
                <label>{{lang}}</label>
            </div>
        </div>
        <div ng-hide="isVersionHistoryMode || isCreateMode" style="background-color: lightgrey">
            <label>Dokument-Klassifikation: </label>
            <label>Neue Klassifikation hinzufügen: </label>
            <br>
            <label>ID: </label>
            <input type="text" ng-model="tmpDocumentClass.id">
            <label>Beschreibung: </label>
            <input type="text" ng-model="tmpDocumentClass.description">
            <button type="button" class="btn btn-default" ng-click="addClassification()">hinzufügen</button>
            <div ng-repeat="class in document.classified_as">
                <label>{{class.id}}---{{class.description}}</label>
            </div>
        </div>
        <div ng-hide="isVersionHistoryMode || isCreateMode">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createNewRelationshipModal" ng-click="showRelationsModal()">
                neue Beziehung zu diesem Dokument anlegen(updaten zum persistieren)
            </button>
        </div>
        <div ng-hide="isVersionHistoryMode || isCreateMode">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createNewDescriptionModal" ng-click="showDescriptionsModal()">
                neue Beschreibung zu diesem Dokument anlegen(updaten zum persistieren)
            </button>
        </div>
        <div class="modal fade" id="createNewRelationshipModal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-body">
                            <div>
                                <label>Dokument zu dem Beziehung hergestellt wird:</label>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Dokumentenid</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="doc in listOfRecentDocumentVersions">
                                        <td>{{doc.primary_document_id.id}}</td>
                                        <td>
                                            <input type="radio" ng-model="tmpRelationship.relating_document" ng-value="doc">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div >
                                <label>Typ der Beziehung:</label>
                                <select ng-model="tmpRelationship.relation_type">
                                    <option value="TRANSLATION">TRANSLATION</option>
                                    <option value="REFERENCING">REFERENCING</option>
                                    <option value="VARIANT">VARIANT</option>
                                    <option value="LANGUAGE_VARIANT">LANGUAGE_VARIANT</option>
                                    <option value="COPY">COPY</option>
                                    <option value="DECOMPOSITION">DECOMPOSITION</option>
                                    <option value="SUBSTITUTION">SUBSTITUTION</option>
                                    <option value="DERIVATION">DERIVATION</option>
                                    <option value="SUPERSEDING">SUPERSEDING</option>
                                    <option value="AFFECTING">AFFECTING</option>
                                    <option value="ADDITION">ADDITION</option>
                                    <option value="PEER">PEER</option>
                                    <option value="SEQUENCE">SEQUENCE</option>
                                    <option value="SUPPLIED">TRANSLATION</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                            <button type="button" class="btn btn-default" ng-click="createNewRealationship()">save</button>
                        </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="createNewDescriptionModal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div >
                            <label>Beschreibung: </label>
                            <input type="text" ng-model="tmpDescription.textual_description">
                        </div>
                        <div>
                            <label>Beschreibungstyp: </label>
                            <select ng-model="tmpDescription.type_of">
                                <option value="TITLE">TITLE</option>
                                <option value="DESCRIPTION">DESCRIPTION</option>
                                <option value="KEYWORD">KEYWORD</option>
                                <option value="SUMMARY">SUMMARY</option>
                                <option value="COMMENT">COMMENT</option>
                                <option value="PROPOSAL">PROPOSAL</option>
                                <option value="RESOLUTION">RESOLUTION</option>
                                <option value="EXPERRIENCE">EXPERRIENCE</option>
                            </select>
                        </div>
                        <div>
                            <label>Sprachcode: </label>
                            <input type="text" ng-model="tmpDescription.language_code">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                        <button type="button" class="btn btn-default" ng-click="createNewDescription()">save</button>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div ng-show="showNewDocument">neues Dokument angelegt: {{lastCreatedDocument}}</div>
</div>