<div>
    <h2>
        Details für Dokument: {{document.name}} mit Id = {{document.id}}
    </h2>
    <form name="documentDetailForm" role="form" novalidate>
        <button ui-sref="documents" class="btn btn-default">zurück</button>
        <button class="btn btn-default" ng-click="updateDocument()">update</button>

        <hr size="10">
        <label>Name: </label>
        <input type="text" ng-model="document.name">

        <div style="background-color: lightgrey">
            <label>externe Objekte: </label></br>
            <div class="row" ng-repeat="eor in externalObjects">
                <label >
                    <input type="checkbox" checklist-model="document.externalObjects" checklist-value="eor">
                    {{eor.description}}
                </label>
            </div>

        </div>
        <div>
            Speicherzeitpunkt: {{document.wasVersionedAt | date:'HH:mm:ss || dd.MM.yyyy'}}
        </div>
        <div style="background-color: lightgrey">
            Datei hochladen: <input type="file" file-model="document.file"/>
        </div>
        <div>
            aktuellste Datei: <a ng-href="api/documents/download/{{document.pathToFile}}">{{document.pathToFile}}</a>
        </div>
    </form>
</div>