<div>
    <!--here is the main-state-dependend showing/hiding configured-->
    <h2 ng-show="isCreateMode">Neues Dokument anlegen(nur Metadaten).</h2>
    <button ng-show="isCreateMode" ui-sref="documents" class="btn btn-default">zurück</button>
    <button ng-show="isCreateMode" class="btn btn-default" ng-click="createNewDocument()">neues Dokument anlegen</button>

    <h2 ng-show="isUpdateMode">Details für Dokument: {{document.name}} mit Id = {{document.id}}</h2>
    <button ng-show="isUpdateMode" ui-sref="documents" class="btn btn-default">zurück</button>
    <button ng-show="isUpdateMode" class="btn btn-default" ng-click="updateDocument()">update</button>

    <h2 ng-show="isVersionHistoryMode">Dokumentenversion(nur ansehbar) für: {{document.name}} mit Id = {{document.id}} </h2>
    <button ng-show="isVersionHistoryMode" ui-sref="documents" class="btn btn-default">zurück zur Dokumentenliste</button>
    <!--end main-state-dependend config-->
    <!--some more config needed below-->

    <form name="documentDetailForm" role="form" novalidate>
        <hr size="10">
        <label>Name: </label>
        <input type="text" ng-model="document.name">

        <div style="background-color: lightgrey">
            <label>externe Objekte: </label></br>
            <div class="row" ng-repeat="eor in externalObjects">
                <label >
                    <input type="checkbox" checklist-model="document.externalObjects" checklist-value="eor">
                    {{eor.description}}
                </label>
            </div>
        </div>
        <div ng-hide="isCreateMode">
            <label>Speicherzeitpunkt:</label>
            {{document.created_at | date:'HH:mm:ss || dd.MM.yyyy'}}</div>
        <div ng-hide="isCreateMode || isVersionHistoryMode" style="background-color: lightgrey">
            <label>Datei hochladen:</label>
            <input type="file" file-model="document.file"/>
        </div>
        <div ng-hide="isCreateMode">
            <label>aktuellste Datei:</label>
            <a ng-href="api/documents/download/{{document.path_to_file}}">{{document.path_to_file}}</a>
        </div>
        <br>
        <br>
        <div ng-hide="isCreateMode">
            <label>Beziehungen dieses Dokumentes zu anderen Dokumenten:</label>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id der Beziehung</th>
                    <th>Name der Beziehung</th>
                    <th>referenziertes Dokument(Id || Name)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rel in document.document_relationships">
                    <td>{{rel.id}}</td>
                    <td>{{rel.name}}</td>
                    <td>{{rel.relating_document.id}}  ||  {{rel.relating_document.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="isVersionHistoryMode || isCreateMode">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createNewRelationshipModal" ng-click="showModal()">
                neue Beziehung zu diesem Dokument anlegen(updaten zum persistieren)
            </button>
        </div>
        <div class="modal fade" id="createNewRelationshipModal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-body">
                            <div>
                                <label>Dokument zu dem Beziehung hergestellt wird:</label>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Dokumentenid</th>
                                        <th>Dokumentenname</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="doc in listOfRecentDocumentVersions">
                                        <td>{{doc.id}}</td>
                                        <td>{{doc.name}}</td>
                                        <td>
                                            <input type="radio" ng-model="tmpRelationship.relating_document" ng-value="doc">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div >
                                <label>Name der Beziehung:</label>
                                <input type="text" ng-model="tmpRelationship.name">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                            <button type="button" class="btn btn-default" ng-click="createNewRealationship()">save</button>
                        </div>

                </div>
            </div>
        </div>

    </form>

    <div ng-show="showNewDocument">neues Dokument angelegt: {{lastCreatedDocument}}</div>
</div>