<div>
    <h2>Details für Rollen einer Organisation</h2>
    <form class="form-horizontal" name="organisationRoleDetailForm" role="form" novalidate>
        <button ui-sref="organisationRoles" class="btn btn-default">zurück</button>
        <button type="submit" class="btn btn-default" ng-click="update()">update</button>
        <div class="form-group">
            <label class="col-sm-1">Typ: </label>
            <select ng-model="organisationRole.role">
                <option value="AUTHOR">AUTHOR</option>
                <option value="CREATOR">CREATOR</option>
                <option value="CUSTODIAN">CUSTODIAN</option>
                <option value="CUSTOMER">CUSTOMER</option>
                <option value="EDITOR">EDITOR</option>
                <option value="INSPECTOR">INSPECTOR</option>
                <option value="LOCAL_REPRESENTATIVE">LOCAL_REPRESENTATIVE</option>
                <option value="MANUFACTURER">MANUFACTURER</option>
                <option value="OPERATOR">OPERATOR</option>
                <option value="OWNER">OWNER</option>
                <option value="SUPPLIER">SUPPLIER</option>
                <option value="VENDOR">VENDOR</option>
                <option value="COPYRIGHT_HOLDER">COPYRIGHT_HOLDER</option>
                <option value="PATENT_HOLDER">PATENT_HOLDER</option>
                <option value="LICENCE_HOLDER">LICENCE_HOLDER</option>
            </select>
        </div>
        <div>
            <label>Beziehungen zu Dokumenten:</label>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="doc in organisationRole.referes_to">
                    <td>{{doc.primary_document_id.id}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <label>Referenzierte Organisation:</label>
            <span>{{organisationRole.is_role_of.name}}</span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createNewOrganisationRoleDocumentRelationshipModal" ng-click="showOrganisationRoleDocumentRelationsModal()">
                neue Beziehung zu Dokument anlegen
            </button>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createNewOrganisationRoleOrganisationRelationshipModal" ng-click="showOrganisationRoleOrganisationRelationsModal()">
                referenzierte Organisation ändern
            </button>
        </div>
    </form>
    <div class="modal fade" id="createNewOrganisationRoleDocumentRelationshipModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <label>Dokument zu dem eine Beziehung hergestellt wird:</label>
                        <table class="table table-striped">
                            <tbody>
                            <tr ng-repeat="doc in documents">
                                <td>{{doc.primary_document_id.id}}</td>
                                <td>
                                    <input type="radio" ng-model="tmp.document" ng-value="doc">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-default" ng-click="createNewOrganisationRoleDocumentRelationship()">save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createNewOrganisationRoleOrganisationRelationshipModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <label>Organisation zu der Beziehung hergestellt wird:</label>
                        <table class="table table-striped">
                            <tbody>
                            <tr ng-repeat="organisation in organisations">
                                <td>{{organisation.name}}</td>
                                <td>
                                    <input type="radio" ng-model="tmp.organisation" ng-value="organisation">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-default" ng-click="createNewOrganisationRoleOrganisationRelationship()">save</button>
                </div>
            </div>
        </div>
    </div>
</div>