<div>
    <h1>Hier sehen sie die Übersicht für Personen.</h1>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createPersonModal">
        neue Person anlegen
    </button>
    <div class="modal fade" id="createPersonModal" role="dialog" aria-labelledby="personLabel" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" name="personForm" novalidate ng-submit="createNewPerson()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-3">Vorname: </label>
                            <input type="text" ng-model="person.first_name">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Nachname: </label>
                            <input type="text" ng-model="person.last_name">
                        </div>
                        <div style="background-color: lightgrey">
                            <h3>Postaddresse</h3>
                            <div class="form-group">
                                <label class="col-sm-3">Postfach: </label>
                                <input type="text" ng-model="tmp_postal_address.postal_box">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3">Postleitzahl: </label>
                                <input type="text" ng-model="tmp_postal_address.postal_code">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3">Land: </label>
                                <input type="text" ng-model="tmp_postal_address.country">
                            </div>
                        </div>
                        <div style="background-color: lightgrey">
                            <h3>Elektronische Addresse:</h3>
                            <div class="form-group">
                                <label class="col-sm-3">Telefon: </label>
                                <input type="text" ng-model="tmp_electronic_address.telephone_number">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3">e-Mail: </label>
                                <input type="text" ng-model="tmp_electronic_address.electronic_mail_address">
                            </div>
                        </div>
                        <div style="background-color: lightgrey">
                            <h3>Physikalische Anschrift:</h3>
                            <div class="form-group">
                                <label class="col-sm-3">Straße: </label>
                                <input type="text" ng-model="tmp_physical_address.street">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3">Straßennummer: </label>
                                <input type="text" ng-model="tmp_physical_address.street_number">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3">Postleitzahl: </label>
                                <input type="text" ng-model="tmp_physical_address.postal_code">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3">Stadt: </label>
                                <input type="text" ng-model="tmp_physical_address.town">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createNewPersonOrganisationRelationshipModal" ng-click="showPersonOrganisationRelationsModal()">
                            neue Beziehung zu Organisation anlegen
                        </button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createNewPersonPersonRelationshipModal">
                            neue Beziehung zu anderer Person anlegen
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                        <button type="submit" class="btn btn-default">save</button>
                    </div>
                </form>
                <div>
                    <label>Beziehungen zwischen dieser Person und anderen Personen:</label>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Vorname</th>
                            <th>Nachname</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="person in person.person_person_relationships">
                            <td>{{person.relating_party.first_name}}</td>
                            <td>{{person.relating_party.last_name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <label>Beziehungen zwischen dieser Person und Organisationen:</label>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name der Organisation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="organisation in person.person_organisation_relationships">
                            <td>{{organisation.relating_party.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="createNewPersonPersonRelationshipModal" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div>
                                    <label>Person zu der Beziehung hergestellt wird:</label>
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr ng-repeat="person in persons">
                                            <td>{{person.first_name}} {{person.last_name}}</td>
                                            <td>
                                                <input type="radio" ng-model="tmpRelationship.relating_party" ng-value="person">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" ng-click="hideUpperModal()">cancel</button>
                                <button type="button" class="btn btn-default" ng-click="createNewPersonPersonRelationship()">save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="createNewPersonOrganisationRelationshipModal" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div>
                                    <label>Organisation zu der Beziehung hergestellt wird:</label>
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr ng-repeat="organisation in organisations">
                                            <td>{{organisation.name}}</td>
                                            <td>
                                                <input type="radio" ng-model="tmpRelationship.relating_party" ng-value="organisation">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" ng-click="hideUpperModal()">cancel</button>
                                <button type="button" class="btn btn-default" ng-click="createNewPersonOrganisationRelationship()">save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in persons">
                <td>
                    <a ui-sref="personDetails({id:person.graphId})">{{person.first_name}}</a>
                </td>
                <td>
                    <a ui-sref="personDetails({id:person.graphId})">{{person.last_name}}</a>
                </td>
                <td>
                    <button type="submit" class="btn btn-default" ng-click="delete(person.graphId)">löschen</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
